# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# Terraform
*.tfstate*
*.terraform*

# VSCode
*.code-workspace

# KEYS
*.pem

# Drawio
*.drawio.*

# WORD
*.doc
*.docx

# PNGS
*.png

# Database
data.database
amanha.txt
NOVO.txt